@model NCEDCO.Models.M_TaxNRates

@{
    ViewBag.Title = "Index";
}

<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            <small>Customer Rates</small>
        </h3>
        <ol class="breadcrumb">
            <li><a href="index.html">Customer </a>
            </li>
            <li class="active">Customer Rates </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
   <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Customer Rates Form</div>
            <div class="panel-body">

                <div class="col-md-12 form-horizontal">
                    <div class="panel panel-default">
                        <div class="panel-heading">Customer Selection</div>
                        <div class="panel-body">

                            <div class="form-group">
                                @Html.LabelFor(m => m.ParentID, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-7">
                                    @Html.DropDownListFor(model => model.ParentID, ViewBag.ParentsIDs as SelectList, "", new { @class = "form-control selectP", @onchange = "loadChild()" })
                                </div>
                            </div>
                            <div class="form-group" id="setChild">
                               
                            </div>
                        </div>
                    </div>
                </div>

                <form id="FrmCRq" class="form-horizontal">
                    <div class="col-md-12" id="LoadRates"></div>

                </form>

            </div>
            </div>
        </div>
    </div>
 <!--Notification Modals -->
<div id="errorModel" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="MyModelBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error !</h4>
            </div>
            <div class="modal-body">
                <label id="ErrorLable" class="control-label" style="color: #e83a3a"></label>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="SModel" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content"  id="SModelBody">
        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Successful !</h4>
            </div>
        <div class="modal-body">
        <label id="lblSuccess">Rate Updated...</label>
            </div>
    </div>

  </div>
</div>
    <script>
        $(document).ready(function () {

            $(".selectP").select2({
                placeholder: "Select Parent Customer",
                allowClear: true,
                width: '100%'
            });
            $(".selectC").select2({
                placeholder: "Select Sub Customer",
                allowClear: true,
                width: '100%'
            });
        });
        
    </script>
    <script>
        var loadChild = function () {
            var tid = $('#ParentID').val();
            debugger
            if (tid != "") {
                $('#setChild').load('/Customer/GetParentChild?Pid=' + tid);
                $('#setChild').show();
            } else {
                $('#setChild').hide();
            }
        }

        var loadRates = function () {
            var tid = $('#CustomerID').val();
            debugger
            if (tid != "") {
                $('#LoadRates').load('/Customer/GetChildRates?Cid=' + tid);
                $('#LoadRates').show();
            } else {
                $('#LoadRates').hide();
            }
        }

        var updateR = function (rid, cid) {
            $("#loaderDiv").show();
            var tid = $('#' + rid).val();
            debugger
            if (tid != "") {

                var data = new FormData;
                data.append("CustomerID", cid);
                data.append("RateID", rid);
                data.append("RateValue", tid);

                $.ajax({

                    type: "POST",
                    url: "/Customer/setUpdateRate",
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        $("#loaderDiv").hide();
                        if (result) {
                            $("#btnRegister").prop('value', 'Saved Successfully');
                            $("#SModel").modal("show");                
                        }
                        else {

                            $("#ErrorLable").text("An Error Occoured while Completing the Request. Please Try Again Later !!");
                            $("#btnCreateTeacher").prop('value', 'Save');
                            $("#errorModel").modal("show");
                        }

                    }

                })
            } 
        }
    </script>         