@model NCEDCO.Models.M_Cerificate

@{
    ViewBag.Title = "Index";
}

<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            <small>Certificate Request</small>
        </h3>
        <ol class="breadcrumb">
            <li><a href="index.html">Certificate </a>
            </li>
            <li class="active">Certificate Request </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
   <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Certificate Request Form</div>
            <div class="panel-body">

                <div class="col-md-12 form-horizontal">
                    <div class="panel panel-default">
                        <div class="panel-heading">Pre Certificate Selection</div>
                        <div class="panel-body">

                            <div class="form-group">
                                @Html.LabelFor(m => m.Client_Id, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-7">
                                    @Html.DropDownListFor(model => model.Client_Id, ViewBag.Bag_ClientsofCustomer as SelectList, "", new { @class = "form-control selectEx", @onchange = "loadTemplate()" })
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label">Or</label>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.RefferencNo, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-7">
                                    @Html.DropDownListFor(model => model.RefferencNo, ViewBag.Bag_RefferenceRequ as SelectList, "", new { @class = "form-control selectRf", @onchange = "loadTemplateByReff()" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <form id="FrmCRq" class="form-horizontal" autocomplete="off" enctype="multipart/form-data">
                    <div class="col-md-12" id="LoadTemplate"></div>

                </form>

            </div>
            </div>
        </div>
             
    </div>
<div class="row">
   <div class="col-lg-12">
<div class="alert alert-success alert-dismissible" id="SMsg" style="display:none">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> Certificate Request Successfully Saved Under Request Id : <label id="Rqid"></label>
</div>
       </div>
    </div>
<!--Notification Modals -->
<div id="errorModel" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="MyModelBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error !</h4>
            </div>
            <div class="modal-body">
                <label id="ErrorLable" class="control-label" style="color: #e83a3a"></label>
            </div>
        </div>
    </div>
</div>
<script>


    $(document).ready(function () {

        $(".selectEx").select2({
            placeholder: "Select Your Client",
            allowClear: true,
            width: '100%'
        });
        $(".selectRf").select2({
            placeholder: "Select Your Save Certificate Requests",
            allowClear: true,
            width: '100%'
        });


        $("#FrmCRq").validate({
            rules: {
                Consignor_Exporter: {
                    required: true
                },
                Consignee: {
                    required: true
                },
                InvoiceNo: {
                    required: true
                },
                InvoiceDate: {
                    required: true
                },
                CountyOfOrigin: {
                    required: true
                },
                PortOfLoading: {
                    required: true
                },
                Vessel: {
                    required: true
                },
                PortOfDischarge: {
                    required: true
                },
                PlaceOfDelivery: {
                    required: true
                },
                SummaryDescription: {
                    required: true
                },
                QtyNUnit: {
                    required: true
                },
                HSCode: {
                    required: true
                },
            },
            messages: {
                Consignor_Exporter: {
                    required: "Consignor / Exporter should not be empty"
                },
                Consignee: {
                    required: "Consignee should not be empty"
                },
                InvoiceNo: {
                    required: "Invoice No should not be empty"
                },
                InvoiceDate: {
                    required: "Invoice Date should not be empty"
                },
                CountyOfOrigin: {
                    required: "County Of Origin should not be empty"
                },
                PortOfLoading: {
                    required: "Port Of Loading should not be empty"
                },
                Vessel: {
                    required: "Vessel should not be empty"
                },
                PortOfDischarge: {
                    required: "Port Of Discharge should not be empty"
                },
                PlaceOfDelivery: {
                    required: "Place Of Delivery should not be empty"
                },
                SummaryDescription: {
                    required: "Summary Description should not be empty"
                },
                QtyNUnit: {
                    required: "Qty N Unit should not be empty"
                },
                HSCode: {
                    required: "HS Code should not be empty"
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.form-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            },
            onkeyup: false,
            submitHandler: function (form) {
                if (!Mandatory()) {
                    return;
                }
                $("loaderDiv").show();
                AjaxPost(form);
            }
        });
    });

    function Mandatory() {
        debugger
        var MandFlg = $("[id*='mand_']");
        var FileUpload1 = $("[id*='file_']");
        var Booleandata = true;
        for (var i = 0; i < MandFlg.length; i++) {
            if ($("#" + MandFlg[i].id).val() == 'Y' && $("#" + FileUpload1[i].id).val() == '') {
                Booleandata = false;
                //alert("FIle Upload");
            }
        }
        if (!Booleandata) {
            $("#ErrorLable").text("Please Upload the Mandatory Supporting Documents");
            $("#errorModel").modal("show");
        }
        return Booleandata;
    }

    function AjaxPost(formData) {
        var ajaxConfig = {
            type: "POST",
            url: "/CertificateRequest/Index",
            data: new FormData(formData),
            success: function (result) {
                if (result.Msg == "Succes") {
                    
                    $('#LoadTemplate').load('/CertificateRequest/LoadRefferenceCR?Reff=' + result.Cid);
                    $('#LoadTemplate').show();
                    $('#Rqid').text(result.RqId);
                    $("#SMsg").show();
                }
                else {
                    $("#ErrorLable").text("Unable to Complete the Certificate Request. Please Contact the Administrator !");
                    $("#errorModel").modal("show");
                }

            }
        }
        if ($(formData).attr('enctype') == "multipart/form-data") {
            ajaxConfig["contentType"] = false;
            ajaxConfig["processData"] = false;
        }
        $.ajax(ajaxConfig);
        return false;
    }
    var loadTemplateByReff = function () {
        var tid = $('#RefferencNo').val();
        debugger
        if (tid != "") {
            $('#LoadTemplate').load('/CertificateRequest/LoadRefferenceByReq?Reff=' + tid);
            $('#LoadTemplate').show();
        } else {
            $('#LoadTemplate').hide();
        }
    }
    var loadTemplate = function () {
        var tid = $('#Client_Id').val();
        debugger
        if (tid != "") {
            $('#LoadTemplate').load('/CertificateRequest/LoadRefferenceCR?Reff=' + tid);
            $('#LoadTemplate').show();
        } else {
            $('#LoadTemplate').hide();
        }
    }
</script>

