@model IEnumerable<NCEDCO.Models.M_Cerificate>
@{
    ViewBag.Title = "Request Status";
}
<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            <small>Certificate Request Status</small>
        </h3>
        <ol class="breadcrumb">
            <li><a href="index.html">Certificate</a>
            </li>
            <li class="active">Request Status</li>
        </ol>
    </div>
</div>
<!-- /.row -->


<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-1 control-label">From : </label>
                    <div class="col-sm-2">
                        <input class="form-control" id="fdate" name="date" placeholder="YYYY/MM/DD" type="text" />
                    </div>
                    <label class="col-sm-1 control-label">To : </label>
                    <div class="col-sm-2">
                        <input class="form-control" id="tdate" name="date" placeholder="YYYY/MM/DD" type="text" />
                    </div>
                    <a href="#" id="bulkS" class="btn btn-primary btn-sm" onclick="FindD()">Search</a>
                </div>
                    </div>
            </div>
        </div>

    </div>
    <div class="col-md-12" id="loadHere">
@*        @{ Html.RenderAction("getRequestStatus"); }*@
    </div>
</div>

<!-- Modal -->
<div id="OModel" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" id="OModelBody">
        </div>

    </div>
</div>
<div id="errorModel" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="MyModelBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error !</h4>
            </div>
            <div class="modal-body">
                <label id="ErrorLable" class="control-label" style="color: #e83a3a"></label>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/pace/pace.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#bulkS").click(function () {
            getValueUsingClass();
        });

        $('#fdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            todayHighlight: true,
            format: 'yyyy/mm/dd'
        })
        $('#tdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            todayHighlight: true,
            format: 'yyyy/mm/dd'
        })
        loadHerere();
    });
    TableManageButtons.init();

</script>
<script>
    var FindD = function () {
        var Url = "/CancelDocument/CanceledD?fdate=" + $("#fdate").val() + "&tdate=" + $("#tdate").val();
        window.location.href = Url;
    }
    var CancelDoc = function (Ref, Client, Doctype) {
        var Url = "/CancelDocument/Cancel_Doc?Ref=" + Ref + "&Client=" + Client + "&Doctype=" + Doctype;
        $("#OModelBody").load(Url, function () {
            $("#OModel").modal("show");
        })
    }
    var loadHerere = function () {
        var tid = $('#RefferencNo').val();
        debugger
        if (tid != "") {
            $('#loadHere').load('/CertificateRequest/getRequestStatus');
            $('#loadHere').show();
        } else {
            $('#loadHere').hide();
        }
    }
</script>

