@model NCEDCO.Models.M_Signatory

<div>
    <form id="FrmRPC" class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Signatory Password</h4>
        </div>
        <div class="modal-body">
            @Html.HiddenFor(m => m.RequestID, new {@Value = @ViewBag.A_IDs })
            <div class="form-group">
                @Html.LabelFor(m => m.Password_, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-7">
                    @Html.PasswordFor(model => model.Password_, new { @class = "form-control", @maxlength = "45" })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" id="btnSubmit" class="btn btn-primary"><span class="fa fa-bookmark"></span>Approve <span style="text-align: center; display: none" id="loaderDiv">
                <img src="~/Images/ellipsis.gif" /></span></a>
        </div>
    </form>
</div>
<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function (e) {
            debugger
            if (!$("#Password_").val()) {
                $("#Password_").closest('.form-group').addClass('has-error');
                //$("#CategoryIdError").text("Required");
                return;
            }
            $("#loaderDiv").show();

            var myformdata = $("#FrmRPC").serialize();
            $.ajax({

                type: "POST",
                url: "/SupportDcoument/BulkSign",
                data: myformdata,
                success: function (result) {
                    $("#loaderDiv").hide();
                    if (result == "true") {
                        debugger
                        window.location.href = "/SupportDcoument/Pending?Result=Successfull";
                    }
                    else if (result == "Error") {
                        $("#OModel").modal("hide");
                        $("#ErrorLable").text("An Error Occoured while Completing the Request. Please Try Again Later");
                        $("#errorModel").modal("show");
                    }
                    else if (result == "false") {
                        $("#OModel").modal("hide");
                        $("#ErrorLable").text("Wrong Password Or Currupted File... ");
                        $("#errorModel").modal("show");
                    }
                }

            })
        })

    })


</script>
